* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position:fixed;
    width:100%;
    background-color: rgb(235, 205, 205);
}

.container {
    padding:32px 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin:0 auto
}

h1 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 600;
}

a {
    font-size: 20px;
    text-decoration: none;
    margin:0 30px
}

#txtSearch {
    width:120px;
    height:30px;
    border-radius: 5px;
    border: 2px solid #6c757d;
    color:#6c757d
}



main {
    height:100vh
}

#txtSearch {
    height: 60px;
    width:600px;
    margin:250px 0;
    border: 3px solid #212529;
    border-radius: 10px;
    font-size: 20px;
    color:#212529;


}

.other-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px
    
}



#output {
    background-color: #6c757d;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}




.object-div {
    display:grid;
    width:calc(33.33% - 20px);
    margin: 50px 0;
    justify-content: center;


}

.object-div img {
    border-radius: 5px; 
}




